@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

/* if you want to write comments that the browser won't see, use this star and slash dealio */

/*Global Defaults */

html{
    font-size: 20px;
    line-height: 1.5;
    color: black;

}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}

video{
    max-width: 750px;

}

.layout-full-width video{
    max-width: 100%;

}


img{
    max-width: 100%;
    
}

header img{
    max-width: 40px;
    
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none

}

a:hover{
    color: cyan;
    text-decoration:none;


}

a:visited{
    color: rgb(62, 109, 11);
}

button{
    padding: 20px;
    transition: 0.3s;
    margin-top: 15px;
}

button:hover{
    background-color: brown;
}






/*layouts */

.header-wide{
    max-width: 100%;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
    
}

.layout-full-wide{
    background-color: gray;
    padding: 35px;
    
}
   
.large-nav{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px;
    
}
.display-highlight
    {
    background-color: rgb(233, 231, 231);
    margin-top: 20px;
    margin-bottom: 20px;
}

.display-main,
.display-main-v2{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px;
    
}

.zoom {
    transition: transform .3s ease-in-out; /* Animation */

  }
  
  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }






  /*Headings and Typography */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-size: 4rem;
    line-height: 0;

}

h2{
    font-size: 2.7rem;
    line-height: 1;
    color: rgb(26, 26, 26);
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.3rem;
    font-weight: normal;
}
li{
    line-height: 1.5;
}







/* Header */

.header-left{
    text-align: center; 
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;

}

.header-left a:visited{
    color: black;
}

.header-right{
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    overflow: hidden;

    
}


@media screen and (min-width: 769px){
    .header-wide{
        display: grid;
        grid-template-columns: auto 300px;
        
    }
    .header-left{
        font-size: 4rem;
        text-align: left;
    }
}



/* Navigation */


nav ul{
    list-style-type: none;
    padding-inline-start: 0%;
}
.main-nav {
    max-height: 0;
    overflow: hidden;
    transition: .5s;
  
}

.main-nav li{
    text-align: center;
}
.main-nav img{
    max-width: 50px;
}

.main-nav.open {
  max-height: 100vh;
  
}

.desktop-socials {
  display: none;
}

.mobile-socials {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
}
.dual-button{
    text-align: center;
}


@media screen and (min-width: 769px) {
     .main-nav{
        margin-right: -100%;
     
  }
  
    .main-nav.open{
        margin-right: 35px;
    
      
  }
    .desktop-socials {
        display: inline;
  }
  
  .mobile-socials {
        display: none;
  }

  .header-right{
        /* text-align: right; */
        /* margin-top: 35px; */
        display: flex;
        justify-content: flex-end;
        /* justify-content: right; */
        /* justify-items: right; */
        align-items: center;
 
  }

    .header-right a{
        margin-right: 35px;
  }

    .main-nav li{
        text-align: right;
}


}


/* Footer */


.footer-left{
    margin-left: 35px;
    background: gray;
 
}


/* Modules */

.content-box {
    background-color: rgb(184, 184, 184);
    padding: 20px;

}

@media screen and (min-width: 769px) {
    .large-nav{
      
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 40px;  
    }
    
    .display-main{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 60% auto;
        
    }

    .display-main-v2{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: auto 60%;
    }
    .display-secondary{
        margin-top: auto;
        margin-bottom: auto;
    }
}


@media screen and (max-width: 769px) {
    
    .zoom{
        transition: none;
    }
    .zoom:hover{
        transform: none;
    }
    
}


.video-nav{
    position: relative;
}

.nav-label{
    width: 100%;
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 0;
    font-size: 2em;
    background-color: black;
    color: blanchedalmond;
}


/* all of the experiments going on here to find a way to get my three images in a responsive grid AND have the title text displayed */

.content-box-image{
    padding: 0px;

}
    @media screen and (min-width:769px) {
    .news-component{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


 