@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');

/* if you want to write comments that the browser won't see, use this star and slash dealio */

/*Global Defaults */

html{
    font-size: 20px;
    line-height: 1.6;
    color: black;

}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}

video{
    max-width: 750px;

}

img{
    max-width: 100%;
    
}

a{
    color: coral;
    text-decoration: none;

}

a:hover{
    color: cyan;
    text-decoration:none;

}


/*layouts */

.layout-wide{
   max-width: 1000px;
   padding: 50px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;

}


.layout-wide h2{
    line-height: 1.1;
}

.layout-full-width {
    width: 100%;
    
}

.layout-full-width video {
    width: 100%;
    max-width: 100%;
}

.layout-services{
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-between;
    align-content: center;
    padding: 7px;
    transform: scale(1.00);
    float: left;
    width: 100%;

}

.notes {
    font-weight: 400;
    font-size: 30pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 100;
    color: #e0e0e0;
    display:inline-block

  }

.photo-1{
    position:relative;display:inline-block;width: 32%;

}

/*Headings and Typography */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}

h1{font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{font-size: 2rem;
}

.layout-services h2{
    font-weight: 400;
    margin: 2% 46%;
    display:inline-block;
    width: 100%;
}


/* Header */

header{
    background: url("../images/*IMG_1703.jpg");
    background-color: white;
    
}

header h1{
    color: whitesmoke;
    text-align: center;

}

/* Navigation */





/* Footer */

footer{
    background: url("../images/Assignment1-Final-Image.jpg");
    background-color: white;

}

footer h1{
    color:whitesmoke;

}

/* Modules */

.content-box {
    background-color: rgb(184, 184, 184);
    padding: 20px;

}

.content-box-image{
    padding: 0px;

}
    @media screen and (min-width:600px) {
    .news-component{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}