/* if you want to write comments that the browser won't see, use this star and slash dealio */

/*Global Defaults */

body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

video{max-width: 750px;}

img{
    max-width: 100%;
}

/*layouts */

.layout-wide{
   background-color: rgb(173, 168, 168);

   max-width: 1200px;

   padding: 50px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;

}

/*Headings and Typography */

/* Header */

/* Navigation */

/* Footer */

/* Modules */

.content-box {
    background-color: chartreuse;
    padding: 20px;


}