@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Oswald:wght@600&display=swap');


/* if you want to write comments that the browser won't see, use this star and slash dealio */

/*Global Defaults */

html{
    font-size: 20px;
    line-height: 1.6;


}

body{
    background-color: bisque;
    font-family: 'Crimson Text', serif;
}

video{max-width: 750px;}

img{
    max-width: 100%;
}

/*layouts */

.layout-wide{
   background-color: rgb(173, 168, 168);

   max-width: 1200px;

   padding: 50px;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;

}

/*Headings and Typography */

h1,
h2,
h3,
h4,
h5 {
    color: red;
    font-family: 'Oswald', sans-serif;
}

h1{font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{font-size: 2rem;
}



/* Header */



/* Navigation */

/* Footer */

/* Modules */

.content-box {
    background-color: chartreuse;
    padding: 20px;


}

.content-box-image{
    padding: 0px;

}
@media screen and (min-width:600px) {
    .news-component{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
   